@import '../../settings/colors';

.footer{
    background-image: url(../../images/footer-foto.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $fifth-color;
    padding: 0 200px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}